<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}} - My Blog</title>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0">
    </head>
    <body>
